@model Trip

@{
    ViewData["Title"] = "Trip Details";
}

<h1>Trip Details</h1>

<div class="card">
    <div class="card-header text-center">@Model.Name</div>
    
    <div class="card-body text-center">
        <img src="~/images/no-image.png" />
    </div>

    <div class="card-body text-center">
        <h4>@Model.Description</h4>
        <h4>Departure Date: @Model.DepartureDate</h4>
        <h4>Return Date: @Model.ReturnDate</h4>
        <h4>Budget: @Model.Budget</h4>
    </div>

    <div class="card-footer text-center">
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back</a>
        <a asp-controller="Home" asp-action="EditTrip" asp-route-id=@Model.ID class="btn btn-primary">Edit</a>
        <a asp-controller="Home" asp-action="DeleteTrip" asp-route-id=@Model.ID class="btn btn-danger">Delete</a>
    </div>
</div>